version: '3.8'

services:
  # ----------------------------
  # Infrastructure
  # ----------------------------
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    hostname: zookeeper
    container_name: zookeeper-sprint
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    hostname: kafka
    container_name: kafka-sprint
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    depends_on:
      - zookeeper

  mongodb:
    image: mongo:6.0.4
    hostname: mongodb
    container_name: mongodb-sprint
    ports:
      - "27017:27017"

  dynamodb:
    image: amazon/dynamodb-local:latest
    hostname: dynamodb
    container_name: dynamodb-sprint
    ports:
      - "8000:8000"
    command: "-jar DynamoDBLocal.jar -inMemory -sharedDb"
  # ----------------------------
  # Application Services
  # ----------------------------
  user-api-service:
    build:
      context: ./UserApiService/UserApiService
      dockerfile: Dockerfile
    hostname: user-api-service
    container_name: user-api-service-sprint
    ports:
      - "8087:8080"
    environment:
      SPRING_DATA_MONGODB_URI: "mongodb://mongodb:27017/user-db"
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      SPRING_PROFILES_ACTIVE: local
    depends_on:
      - kafka
      - mongodb

  profile-api-service-sprint:
    build:
      context: ./ProfileService/ProfileService
      dockerfile: Dockerfile
    hostname: profile-api-service
    container_name: profile-api-service-sprint
    ports:
      - "8085:8080"
    environment:
      SPRING_PROFILES_ACTIVE: local
      AWS_REGION: ap-south-1
      AWS_DYNAMODB_ENDPOINT: http://dynamodb:8000
    depends_on:
      - dynamodb