# This file is used to run a local Jenkins server in Docker
# Run it with: docker compose -f docker-compose-jenkins.yml up --build
services:
  jenkins:
    # [THE FIX]: Change the image to 'jenkinsci/blueocean'
    # This image includes the Docker CLI, which fixes the "docker: not found" error.
    image: jenkinsci/blueocean:latest
    container_name: jenkins-sprint
    privileged: true 
    user: root 
    ports:
      - "8090:8080" 
      - "50000:50000" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
    # We removed the JAVA_HOME environment variable as it's not needed here

volumes:
  jenkins_home: