# This file is used to run a local Jenkins server in Docker
services:
  jenkins:
    build:
      context: .
      dockerfile: jenkins.dockerfile # Builds our custom image
    container_name: jenkins-sprint
    privileged: true 
    user: root 
    ports:
      - "8090:8080" 
      - "50000:50000" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - jenkins_home:/var/jenkins_home
    environment:
      # This fix is for the plugin downloads
      JENKINS_UC_URL: http://updates.jenkins.io/update-center.json
      # This fix is for the git "ls-remote" in the UI
      JENKINS_OPTS: "-Dorg.jenkinsci.plugins.gitclient.Git.disableSslVerification=true"

volumes:
  jenkins_home: